{% extends 'base.html' %}
{% load static %}
{% block title %} Planway IT | Home{% endblock %}
{% block stylesheet %} {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="services" class="services">
    <div class="container">

        <div class="section-title text-center" data-aos="zoom-out">
            <p>Fixed Price Projects</p>
            <span>Best Quality and Timely Delivery</span>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-laptop" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Discovery Team</a></h4>
                    <p class="description text-justify">A team of resources to help you come up with multiple possible
                        outcomes for your project so software solutions can be provided beforehand.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-app" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Timely Delivery</a></h4>
                    <p class="description text-justify">With an already set goal and deadline, projects are guaranteed
                        to be delivered on time.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Determined Expenses</a></h4>
                    <p class="description text-justify">Expenses are already decided with a clear cut budget team has to
                        work within. The overall cost never exceeds the budget.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Ease of Working</a></h4>
                    <p class="description text-justify">Clearly defined specifications and requirements with details
                        gives you a clear view of what your project looks like and the project is divided into
                        individual tasks so it’s easier to work on.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-app" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Security</a></h4>
                    <p class="description text-justify">IP protected and secured work by maintaining strict NDAs.
                        Providing absolutely no risk over security.</p>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <p>The Process</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    <div class="member-img">
                        <img src="{% static 'assets/img/fixed_time_projects/dicovery_workshop1.jpg' %}" class="img-fluid" alt=""/>
                    </div>
                    <div class="member-info">
                        <h4>Discovery</h4>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Attend our discovery Workshop</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Set your goal</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;View the prototype</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Discuss and implement the project plan</li></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    <div class="member-img">
                        <img src="{% static 'assets/img/fixed_time_projects/execution-1.jpg' %}" class="img-fluid" alt=""/>
                    </div>
                    <div class="member-info">
                        <h4>Execution</h4>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Architecture and Design</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Backend development</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;APIs and integration</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;QA Testing</li></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    <div class="member-img">
                        <img src="{% static 'assets/img/fixed_time_projects/go_llive-1.jpg' %}" class="img-fluid" alt=""/>
                    </div>
                    <div class="member-info">
                        <h4>Go Live</h4>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Project Launch</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;User Feedback</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Monitoring</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Operational Testing</li></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    <div class="member-img">
                        <img src="{% static 'assets/img/fixed_time_projects/support_maintenance1-1-1.jpg' %}" class="img-fluid"
                             alt=""/>
                    </div>
                    <div class="member-info">
                        <h4>Support</h4>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;SLA Support</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Operational support</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;On-going Support</li></span>
                        <span class="text-dark"><li style="list-style: none;"><i class="ri-check-double-line" style="color: darkorange;"></i>&nbsp;&nbsp;Feedback Integration</li></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
{% endblock %}
