{% extends 'base.html' %}
{% load static %}
{% block title %} Planway IT | Home{% endblock %}
{% block stylesheet %} {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="services" class="services">
    <div class="container">

        <div class="section-title text-center" data-aos="zoom-out">
            <p >Product Consulting</p>
            <span>Get Professional Product Consultant Services</span>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-laptop" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Get on-demand Expertise</a></h4>
                    <p class="description text-justify">Dedicated team of product consulting professionals to help meet your management needs. We provide a unique partnership approach through providing complete product development and launch processes.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-app" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Product Design</a></h4>
                    <p class="description text-justify">Providing support for your product design, R&D and innovation teams to develop products and launching them in ever changing markets.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-laptop" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Training</a></h4>
                    <p class="description text-justify">Session with our Trained experts to help you understand what’s new in the market, simplify complex requirements and comply with upcoming regulations to avoid any product failures.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-app" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Business Process and Advisory</a></h4>
                    <p class="description text-justify">Our professionals can assist you in complex global supply chains, reducing costs and risks. They will deliver optimal results through optimizing your existing infrastructure and streamlining your testing.</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
