{% extends 'base.html' %}
{% load static %}
{% block title %} Planway IT | Home{% endblock %}
{% block stylesheet %} {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <p>Support and Maintenance</p>
            <span>Upgrade And Maintain Software With Technical Teams</span>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-laptop" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Software Maintenance</a></h4>
                    <p class="description text-justify">Providing level 1, 2 and 3 support services for custom software
                        developed either by us or a third party.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-app" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Software Enhancement</a></h4>
                    <p class="description text-justify">Focus on analysing, evaluating and handing over a list of
                        improvements and bugs for your software along with a plan to improve your existing software.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Performance/Availability Monitoring</a></h4>
                    <p class="description text-justify">Preventing breakdowns by continuous monitoring of core applications, hardware and overall system performance.</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
