{% extends 'base.html' %}
{% load static %}
{% block title %} Planway IT | Home{% endblock %}
{% block stylesheet %} {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <section id="services" class="services">
    <div class="container">

        <div class="section-title text-center" data-aos="zoom-out">
            <p>Team Augmentation</p>
            <span>Hire Proficient Technology Team to Meet your Needs</span>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="bi bi-laptop" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Understanding Your Requirements</a></h4>
                    <p class="description text-justify mt-2">Developing an understanding with clients by sharing the details of your requirement to get the perfect candidate to meet your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-app" style="color: #e9bf06;"></i></div>
                    <h3 class="title"><a href="">Industry-Specific Technical Experts</a></h3>
                    <p class="description text-justify mt-2" >Providing complete control over clients to choose from our pre-screened pool of candidates specific to your industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Affordable</a></h4>
                    <p class="description text-justify">Get highly skilled technical experts to provide the best solutions, without bearing the costs of in-house work forces.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Accelerates Time-to-Market</a></h4>
                    <p class="description text-justify">Trained professionals to operate at high efficiencies and provide fast-track development to get your product in the market faster.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-app" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">High Turnover Rates</a></h4>
                    <p class="description text-justify">Hiring already skilled external resources to focus solely on your project decreases attrition rates and produces positive results.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-app" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Outperform Your Competitors</a></h4>
                    <p class="description text-justify">With a remotely working team of professionals with a profound skill set, you’re more likely to outperform your competitors.</p>
                </div>
            </div>
        </div>

    </div>
</section>
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                                <img src="{% static 'assets/img/team_augmentation/fast_hiring.jpg' %}" class="img-fluid" alt=""/>
                        </div>
                        <div class="member-info">
                                <h4>Fast Hiring</h4>
                                <span>We provide complete control over the kind of staff you want to hire. Choose between full time, part time, contractual or permanent staff.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                                <img src="{% static 'assets/img/team_augmentation/toptalent.jpg' %}" class="img-fluid" alt=""/>
                            </div>
                            <div class="member-info">
                                    <h4>Top Talent</h4>
                                    <span>Select the most suitable candidates from our prescreened pool of experts.</span>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                               <img src="{% static 'assets/img/team_augmentation/daytime_hour.jpg' %}" class="img-fluid" alt=""/>
                            </div>
                            <div class="member-info">
                                    <h4>Daytime Hours</h4>
                                    <span>We facilitate our candidates working hours according to your requirements.</span>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up">
                                <div class="member-img">
                                    <img src="{% static 'assets/img/team_augmentation/daytime_hour.jpg' %}" class="img-fluid" alt=""/>
                                </div>
                                <div class="member-info">
                                        <h4>Integrity</h4>
                                        <span>Our team specializes in not just technical expertise but also integrity, good english communication and professionalism overall.</span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}
