{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="about_hcl_technologies" class="special-page-sections page-section-0 even-block html ">
    <div class="page-title">
        <h2 class="text-center"
            style="margin-top:50px;margin-bottom:50px;text-decoration-style: solid;text-decoration-color: darkorange;">
            <span>ABOUT PLANWAY IT</span></h2></div>
    <div class="container">
        <div class="event-campaign-html-section">
            <!-- Print the HTML section -->
            <div class="html-section">
                <div class="about_our_company text-justify">
                    <div class="section-title text-center" data-aos="zoom-out">
                        <p>Who We Are!!</p>
                        <span>We are a technology company that has been developing quality software solutions for more than 2
                        years.
                        Our clients include top executives, business leaders and entrepreneurs from North America,
Malaysia. We solve all technology related problems and provide insightful solutions with
                        detailed analysis to help you in producing better results.</span>
                    </div>
                </div>
                <div class="about_our_company text-justify">
                    <div class="section-title text-center" data-aos="zoom-out">
                        <p>Services We Offer</p>
                        <div class="row mt-5 text-justify">
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;">CUSTOM SOFTWARE DEVELOPMENT</h6>
                                    <span>We develop custom software based on our clients needs. Whether you have a start up, a small business or an enterprise, our skilled professionals would integrate seamlessly with your business.</span>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;" >DISCOVERY WORKSHOP!</h6>
                                    <span>Our discovery workshop will help you understand your short and long term goals, KPI’s, financials and any technological challenges that may come along with a clickable prototype.</span>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;">DATA SCIENCE</h6>
                                    <span>We produce elaborate data insights and automated reporting to help your company in making informed decisions through data mining, big data processing, machine learning, AI development and data analytics.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
