
{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
    Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
     <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/image/portfolio/fembula.PNG' %}" class="img-fluid" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/images/portfolio/fembula2.PNG' %}" class="img-fluid" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/images/portfolio/fembula3.PNG' %}" class="img-fluid" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: E-commerce</li>
                <li><strong>Client</strong>: Bangladeshi Client</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.fembula.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p style="text-align: justify;">
                Fembula.com is a trusted online market place commonly known as E-commerce in Bangladesh founded by some enthusiastic young entrepreneurs with a view to ensuring highest level of customer satisfaction through quality products, fastest delivery systems, trusted customer relationship in online platform. Fembula.com is a registered company under companies act, 1994 hereby as 'Fembula.com Ltd'.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main>


{% endblock %}
{% block script %}
{% endblock %}
