{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT |Service
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header text-center" style="margin-top: 50px;">
                <h2 class="title" style="text-underline: #1c1f23; margin-bottom: 50px;">
                    Services
                </h2>
            </div>
            <div class="service-section">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-6">
                        <h3>Software Development</h3>
                        <p class="text-muted">
                            We provide a full range of web application services, from
                            requirement gathering until the application is successfully
                            deployed on the client end. Considering the strategic importance
                            of web design, ATI Limited engages extensive effort and creativity
                            to build you the site that will stand out from the rest and
                            contribute to the success of your business.
                        </p>
                        <div class="feature">
                            <i class="fa fa-check"></i>
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Core and continuous activity of Designing and Developing
                                Applications and Software Solutions since its commencement.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Encompasses in providing a wide range of own products,
                                tools, and platforms.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;In-house competency and training centers to apply new
                                technologies and innovations.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Follow well-proven and professional working methodologies
                                for the implementation of a software solution.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Processes are constantly revised to embrace world-class,
                                state-of-the-art techniques.
                            </p>
                        </div>

                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Project-specific metrics are defined and applied to
                                ensure consistent results of high standard.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img
                                src="https://www.atilimited.net/assets/img/343320-PALLZR-795.jpg"
                                class="img-responsive"
                                alt=""
                        />
                    </div>
                </div>

                <div class="row" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <img
                                    src="https://www.atilimited.net/assets/img/ati-web-dev.jpg"
                                    class="img-responsive"
                                    alt=""
                                    width="100%"
                                    height="auto"
                            />
                        </div>
                        <div class="col-lg-6">
                            <h3>Web Development</h3>
                            <p class="text-muted" style="text-align: justify;">
                                Well-built software thinks about users and their needs. Web
                                Sites require one thing, and that is functionality. Without it
                                most websites are useless. We can develop advanced systems that
                                can handle mass amounts of data and transactions. It does not
                                matter how small or big your company is, we have solutions for
                                any budget.
                            </p>
                            <div class="feature">
                                <p class="text-muted">
                                    <i class="ri-check-double-line" style="color: darkorange;"></i
                                    >&nbsp;Our ability to build dynamic, personalized user-centric
                                    experiences enables your brand to explore innovative
                                    opportunities to reach audience.
                                </p>
                            </div>
                            <div class="feature">
                                <p class="text-muted">
                                    <i class="ri-check-double-line" style="color: darkorange;"></i
                                    >&nbsp;Our web development includes mobile-responsive website.
                                </p>
                            </div>
                            <div class="feature">
                                <p class="text-muted">
                                    <i class="ri-check-double-line" style="color: darkorange;"></i
                                    >&nbsp;Fully integrated team enables rapid decision making
                                    about direction and feasibility during planning and design
                                    phases.
                                </p>
                            </div>
                            <div class="feature">
                                <p class="text-muted">
                                    <i class="ri-check-double-line" style="color: darkorange;"></i
                                    >&nbsp;We do more with less; we can build your company a
                                    custom web application that meets your business need.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-6">
                        <h3>Customized ERP</h3>
                        <p style="text-align: justify;" class="text-muted">
                            ATI ERP Solution is a suite of applications that manages core
                            business process such as sales, purchasing, human resources,
                            customer support, CRM and inventory. The purpose of the solution
                            is to provide the best solution to the customer through increase
                            efficiency, streamline processes and promote a culture of
                            collaboration in the organization. We try to provide an integrated
                            system as opposed to individual software designed specifically to
                            a business process.
                        </p>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Our end-to-end ERP services and solutions provide
                                assistance in automating, computerizing and speeding up
                                transactions throughout the organization.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Our ERP Solutions eliminates most of the business
                                problems like Material shortages, Productivity enhancements,
                                Customer service, Cash Management, Inventory problems, Quality
                                problems, Prompt delivery, Billing etc.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;With our vertically integrated solutions approach,
                                experienced project teams, offshore delivery, and strong
                                technology practices we help your organization derive maximum
                                value from ERP projects.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Our ERP systems are designed to be flexible, helping meet
                                the need of the companies or businesses that use them.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;ATI ERP Modules are designed with a dedicated motive of
                                delivering products or services that meet customers’
                                expectations.
                            </p>
                        </div>
                        <div class="feature">
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;With customized ERP software, you don’t need to change
                                the business flows which means ERP software.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img
                                src="https://www.atilimited.net/assets/img/erp.jpg"
                                class="img-responsive"
                                alt=""
                        />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-lg-6">
                        <img
                                src="https://www.atilimited.net/assets/img/app_30.jpg"
                                class="img-responsive"
                                alt=""
                                width="100%"
                                heigh="auto"
                        />
                    </div>
                    <div class="col-lg-6">
                        <h3>Mobile Application Development</h3>
                        <p style="text-align: justify;" class="text-muted">
                            We provide unique mobile application development services to
                            develop solutions that solve real-life problems. We enable and
                            engage our clients with the world-class mobile application
                            development. Services developed in ATI Limited helps our clients
                            to stay ahead in the business markets.
                        </p>
                        <div class="feature">
                            <i class="fa fa-check"></i>
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;We implement the latest trends &amp; technologies in
                                mobile apps development and strive to offer rich user experience
                                through our services.
                            </p>
                        </div>
                        <div class="feature">
                            <i class="fa fa-check"></i>
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Our development team is focused on creativeness and
                                innovation along with the technical capability to provide high
                                quality, proficient, effective and accessible applications that
                                meet our client’s potentials.
                            </p>
                        </div>
                        <div class="feature">
                            <i class="fa fa-check"></i>
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;Customized business apps allow you to send personalized
                                updates related to your products and services to your existing
                                customers in real-time.
                            </p>
                        </div>
                        <div class="feature">
                            <i class="fa fa-check"></i>
                            <p class="text-muted">
                                <i class="ri-check-double-line" style="color: darkorange;"></i
                                >&nbsp;ATI Mobile apps are very convenient for customers, as
                                they are usually designed with usability in mind.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
