{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Pricing
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<section id="call-to-action-2" class="call-to-action-2 section"
         style="height:100%;margin-top:100px;background-image: url({% static 'assets/img/service-banner.webp' %})">
    <div class="container">
        <div class="row justify-content-center aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h1 style="font-weight: 900;color:#fff;">About Our Company</h1>
                    <p style="color:#fff;">Scale Your Business with Expert Tech & Growth Solutions</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about section light-background">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center justify-content-between">

            <div class="col-xl-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <span class="about-meta">MORE ABOUT US</span>
                <h2 class="about-title" style="font-weight: 900;">Planway IT Mission, Vision &amp; Value</h2>
                <p class="about-description">We strive to enable our clients achieve more with excellent quality at
                    great cost, making us their go-to company for their digital transformation.
                    <br><br>We envision as a top-notch software company having both products and services that empower
                    businesses to grow faster while saving time and money for millions of stakeholders, and to make
                    Bangladesh a highly desirable destination for outsourcing software development.</p>

                <div class="row feature-list-wrapper">
                    <div class="col-md-6">
                        <ul class="feature-list">
                            <li><i class="bi bi-check-circle-fill"></i> Taking Ownership</li>
                            <li><i class="bi bi-check-circle-fill"></i> Honesty &amp; Integrity</li>
                            <li><i class="bi bi-check-circle-fill"></i> Openness &amp; Respectfulness</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="feature-list">
                            <li><i class="bi bi-check-circle-fill"></i> Self-criticism</li>
                            <li><i class="bi bi-check-circle-fill"></i> Fun &amp; Flexibility</li>
                            <li><i class="bi bi-check-circle-fill"></i> Friendly Workstations</li>
                        </ul>
                    </div>
                </div>

                <div class="info-wrapper">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <div class="profile d-flex align-items-center gap-3">
                                <img src="/static/assets/img/team/saif.jpg" alt="CEO Profile" class="profile-image">
                                <div>
                                    <h4 class="profile-name">Khandakar Abu Saif</h4>
                                    <p class="profile-position">CEO &amp; Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-info d-flex align-items-center gap-2">
                                <i class="bi bi-telephone-fill"></i>
                                <div>
                                    <p class="contact-label">Call us anytime</p>
                                    <p class="contact-number">+880 1580-905792</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="image-wrapper">
                    <div class="images position-relative aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
                        <img src="/static/assets/img/about-5.webp" alt="Business Meeting"
                             class="img-fluid main-image rounded-4">
                        <img src="/static/assets/img/about-2.webp" alt="Team Discussion"
                             class="img-fluid small-image rounded-4">
                    </div>
                    <div class="experience-badge floating">
                        <h3>5+ <span>Years</span></h3>
                        <p>Of experience in business service</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<section id="service" class="services">
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2 style="font-weight: 900;">Our Story</h2>
    </div><!-- End Section Title -->
    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div class="service-section">
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in-left">
                            <h3 style="font-weight: 900;">Software Development</h3>
                            <p class="mt-2" style="text-align: justify;">
                                Planway IT Limited was founded at the end of 2022 with an aim to engineer robust
                                technology services for super growing businesses founded by visionaries. We served
                                software solutions for over 20+ clients in the last five years and completed 40+ Medium
                                and Large projects. Most of Planway IT Solution’s team members have very good
                                experience of working with local and international clients in software development
                                projects. On Time delivery and aligning with client’s requirements is something we are
                                all about.</p>

                               <p style="text-align: justify;"> Planway IT Solution Limited You build the vision. We build the rest. "Whether it’s a
                                custom web application or a cold email engine that fills your pipeline, we deliver
                                precision-engineered solutions. Stop managing multiple vendors and start seeing results.
                                Get a custom quote today.Design. Develop. Deliver.
                            </p>
                        </div>
                        <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in-left">
                            <img src="{% static 'assets/img/image/planwaypic/background_01.png' %}" class="img-fluid"
                                 style="width:100%;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="text-center">
                <h2 class="mt-5 text-center" style="font-weight: 900;">We strive to be the best and make awesome work.</h2>
                <p class="mt-5" style="text-align: justify;">Planway IT is an IT services company focused on serving B2B, B2C and D2C enterprise
                    brands. With our task force, including certified professionals, we help enterprise businesses to
                    overcome their challenges and reach their aspirational goals. As a service based IT services company
                    founded in 2020, Ziffity is a part of a large group of companies with 5+ years of experience. Our
                    offices are located in the Bangladesh. We serve clients across the USA and Europe. The length and
                    breadth of our services include design, eCommerce development, mobile app development, product
                    engineering, Microservices, middleware development, Artificial Intelligence, quality assurance and
                    cloud solutions, content marketing, business intelligence, and marketing automation.</p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<section id="stats" class="container stats section">
    <div class="test" style="border-style: groove;border-radius: 10px;">
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
            <h2 style="font-weight: 900;">Support History</h2>
            <!--            <p>Outstanding Reviews How We Exceed Expectations!</p>-->
        </div><!-- End Section Title -->
        <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="0"
                          class="purecounter">25</span>
                        <p>Clients</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="52" data-purecounter-duration="0"
                          class="purecounter">52</span>
                        <p>Projects</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="0"
                          class="purecounter">1453</span>
                        <p>Hours Of Support</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="0"
                          class="purecounter">12</span>
                        <p>Workers</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block script %}
{% endblock %}



