{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | About
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="about" class="about" style="margin-top:150px;">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>About</h2>
                <p>Who we are</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p style="text-align:justify;">
                        Planway IT is a next-generation global technology company that helps enterprises reimagine their
                        businesses for the digital age. Our technology products and services are built on four decades of
                        innovation, with a world-renowned management philosophy, a strong culture of invention and
                        risk-taking, and a relentless focus on customer relationships. HCL also takes pride in its many
                        diversity, social responsibility, sustainability, and education initiatives. Through its worldwide
                        network of R&D facilities and co-innovation labs, global delivery capabilities, and over 168,000+
                        ‘Ideapreneurs’ across 50 countries, HCL delivers holistic services across industry verticals to
                        leading enterprises, including 250 of the Fortune 500 and 650 of the Global 2000.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <div class="container-fluid">
                        <img class="img-fluid" src="{% static 'New folder/assets/img/planwaypic/background_01.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>

<section id="service-details" class="service-details section">
    <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>About</h2>
                <p>Who we are</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p style="text-align:justify;">
                        Planway IT is a next-generation global technology company that helps enterprises reimagine their
                        businesses for the digital age. Our technology products and services are built on four decades of
                        innovation, with a world-renowned management philosophy, a strong culture of invention and
                        risk-taking, and a relentless focus on customer relationships. HCL also takes pride in its many
                        diversity, social responsibility, sustainability, and education initiatives. Through its worldwide
                        network of R&D facilities and co-innovation labs, global delivery capabilities, and over 168,000+
                        ‘Ideapreneurs’ across 50 countries, HCL delivers holistic services across industry verticals to
                        leading enterprises, including 250 of the Fortune 500 and 650 of the Global 2000.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <div class="container-fluid">
                        <img class="img-fluid" src="{% static 'New folder/assets/img/planwaypic/background_01.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-12 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
              <section id="services" class="services section  light-background">
                  <div class=" section-title" data-aos="fade-up">
                      <h2>Services</h2>
                      <p>Development services tailored to grow your business.At Technext, we prioritize building lasting
                          business relationships and assisting in growing your brand, not just delivering a product. Our
                          comprehensive service offerings will enable you to achieve your business goals, smoothly</p>
                  </div><!-- End Section Title -->
                  <div class="row g-4">
                      <div class="col-lg-6 ml-1 mr-1" data-aos="fade-up" data-aos-delay="100">
                          <div class="service-card d-flex">
                              <div class="icon flex-shrink-0">
                                  <i class="bi bi-clipboard-data"></i>
                              </div>
                              <div>
                                  <h3>Staff Augmentation</h3>
                                  <p>Need to scale your team quickly and efficiently? Our staff augmentation services
                                      have you covered. We provide skilled developers and designers who seamlessly
                                      integrate with your existing team, helping you meet your project goals without the
                                      hassle of long hiring processes</p>
                                  <a href="service-details.html" class="read-more">Read More <i
                                          class="bi bi-arrow-right"></i></a>
                              </div>
                          </div>
                      </div><!-- End Service Card -->
                      <div class="col-lg-6 ml-1 mr-1" data-aos="fade-up" data-aos-delay="200">
                          <div class="service-card d-flex">
                              <div class="icon flex-shrink-0">
                                  <i class="bi bi-pc-display"></i>
                              </div>
                              <div>
                                  <h3>Web App Development</h3>
                                  <p>Transform ideas into powerful digital experiences. We craft web applications with
                                      clean architecture, intuitive interfaces, and cloud-ready infrastructure to
                                      deliver secure, high-performance, and scalable solutions tailored to your
                                      goals.</p>
                                  <a href="service-details.html" class="read-more">Read More <i
                                          class="bi bi-arrow-right"></i></a>
                              </div>
                          </div>
                      </div><!-- End Service Card -->
                      <div class="col-lg-6 ml-1 mr-1" data-aos="fade-up" data-aos-delay="300">
                          <div class="service-card d-flex">
                              <div class="icon flex-shrink-0">
                                  <i class="bi bi-pc-display"></i>
                              </div>
                              <div>
                                  <h3>Mobile Application Development</h3>
                                  <p>Bring your mobile product to life with clarity and purpose. We build apps that
                                      solve real problems, support your roadmap, and scale effortlessly—whether you’re
                                      launching an MVP or expanding an established platform.</p>
                                  <a href="service-details.html" class="read-more">Read More <i
                                          class="bi bi-arrow-right"></i></a>
                              </div>
                          </div>
                      </div><!-- End Service Card -->
                      <div class="col-lg-6 ml-1 mr-1" data-aos="fade-up" data-aos-delay="400">
                          <div class="service-card d-flex">
                              <div class="icon flex-shrink-0">
                                  <i class="bi bi-gear"></i>
                              </div>
                              <div>
                                  <h3>AI, ML & IoT Development</h3>
                                  <p>Turn data into action with intelligent automation and connected devices built for
                                      performance and scalability. Our team builds secure, enterprise-grade AI, ML, and
                                      IoT ecosystems that improve efficiency, reduce costs, and enable data-driven
                                      decision-making</p>
                                  <a href="service-details.html" class="read-more">Read More <i
                                          class="bi bi-arrow-right"></i></a>
                              </div>
                          </div>
                      </div><!-- End Service Card -->
                  </div>
              </section>
            <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
          </div>
        </div>
      </div>
</section>
<div id="about_hcl_technologies" class="special-page-sections page-section-0 even-block html ">
    <div class="container">
        <div class="event-campaign-html-section">
            <!-- Print the HTML section -->
            <div class="html-section">
                <div class="about_our_company text-justify">
                    <div class="section-title text-center" data-aos="zoom-out">
                        <span>We are a technology company that has been developing quality software solutions for more than 2 years.Our clients include top executives, business leaders and entrepreneurs from North America,Malaysia. We solve all technology related problems and provide insightful solutions withdetailed analysis to help you in producing better results.</span>
                    </div>
                </div>
                <div class="about_our_company text-justify">
                    <div class="section-title text-center" data-aos="zoom-out">
<!--                        <p>Services We Offer</p>-->
                        <div class="row mt-5 text-justify">
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;">CUSTOM SOFTWARE DEVELOPMENT</h6>
                                    <span>We develop custom software based on our clients needs. Whether you have a start up, a small business or an enterprise, our skilled professionals would integrate seamlessly with your business.</span>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;" >DISCOVERY WORKSHOP!</h6>
                                    <span>Our discovery workshop will help you understand your short and long term goals, KPI’s, financials and any technological challenges that may come along with a clickable prototype.</span>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <div class="section-title text-center" data-aos="zoom-out">
                                    <h6 style="color: darkorange;">DATA SCIENCE</h6>
                                    <span>We produce elaborate data insights and automated reporting to help your company in making informed decisions through data mining, big data processing, machine learning, AI development and data analytics.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
