{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Case Study
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <section class="related-projects section-sm bg-gray mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h2 style="font-weight: 900;">What projects have we done so far?</h2>
            </div>
          </div>
        </div>
        <div class="row">
        {% for d in case_data %}
          <div class="col-md-6 mt-5">
            <div class="content">
              <img class="img-fluid" src="{{d.image.url}}" style="height:280px;width:100%;">
              <div class="content mt-4">
                <h4 style="font-weight: 900;">{{d.title}}</h4>
                <p style="text-align:justify;">{{d.details}}</p>
<!--                  <a href="{% url 'case_study_details' %}"><button class="btn btn-primary" >View Case Study</button></a>-->
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}

