{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <section class="related-projects section-sm bg-gray mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h2 style="font-weight: 900;">What projects have we done so far?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
            <div class="content">
              <img class="img-fluid" src="{% static 'others/images/portfolio/portfolio-big-2.jpg' %}" style="height:280px;width:100%;">
              <div class="content mt-4">
                <h4 style="font-weight: 900;">Dribbble Redesign</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                  debitis quibusdam magni rem quis, cum nesciunt?</p>
                <button class="btn btn-primary">View Case Study</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <div class="content">
              <img class="img-fluid" src="{% static 'others/images/portfolio/portfolio-big-3.jpg' %}" style="height:280px;width:100%;">
              <div class="content mt-4">
                <h4 style="font-weight: 900;">Dribbble Redesign</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                  debitis quibusdam magni rem quis, cum nesciunt?</p>
                <button class="btn btn-primary">View Case Study</button>
              </div>
            </div>
          </div>
            <div class="col-md-6 mt-5">
            <div class="content">
              <img class="img-fluid" src="{% static 'others/images/portfolio/portfolio-big-2.jpg' %}" style="height:280px;width:100%;">
              <div class="content mt-4">
                <h4 style="font-weight: 900;">Dribbble Redesign</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                  debitis quibusdam magni rem quis, cum nesciunt?</p>
                <button class="btn btn-primary">View Case Study</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <div class="content">
              <img class="img-fluid" src="{% static 'others/images/portfolio/portfolio-big-3.jpg' %}" style="height:280px;width:100%;">
              <div class="content mt-4">
                <h4 style="font-weight: 900;">Dribbble Redesign</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                  debitis quibusdam magni rem quis, cum nesciunt?</p>
                <button class="btn btn-primary">View Case Study</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}

