{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Marketing Structure
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<section id="hero" class="hero section" xmlns="http://www.w3.org/1999/html">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
              <h1 class="mb-4" style="font-weight: 900;">See how our cold email drip campaigns help clients
                  <br><span class="accent-text h4">generate consistent revenue.!</span>
              </h1>

              <p class="mb-4 mb-md-5 text-justify" style="text-align: justify;">
                We leverage high performing data from executing thousands of successful B2B campaigns in every industry to target & engage your most qualified decision makers, driving them directly into your sales funnel.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
              <img src="{% static 'assets/img/email-marketing.webp' %}" alt="Hero Image" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="row stats-row gy-4 mt-5" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">

              <div class="stat-icon">
                  <img src="{% static 'assets/img/how/task_777223.png' %}" class="img-fluid" style="height:80%;" alt="">
<!--                <i class="bi bi-trophy"></i>-->
              </div>
                <br>
              <div class="stat-content">
                <h6>Build Lists</h6>
                  <p style="text-align: justify;">We build targeted and qualified email lists of your ideal prospects.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
<!--                <i class="bi bi-briefcase"></i>-->
                  <img src="{% static 'assets/img/email.png' %}" style="height:100%;" class="img-fluid" alt="">
              </div>
              <div class="stat-content">
                <h6>Write Emails</h6>
                  <p style="text-align: justify;">Write clear and hyper personalized cold emails that actually get responses.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
<!--                <i class="bi bi-graph-up"></i>-->
                  <img src="{% static 'assets/img/how/viral-marketing.png' %}" class="img-fluid" alt="">
              </div>
              <div class="stat-content">
                <h6>Execute Outreach</h6>
                  <p style="text-align: justify;">Send custom emails to thousands of your ideal clients every month.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
<!--                <i class="bi bi-award"></i>-->
                  <img src="{% static 'assets/img/how/deal.png' %}" style="height:80%;" class="img-fluid" alt="">
              </div>
              <div class="stat-content">
                <h6>Close Deals</h6>
                 <p style="text-align: justify;">You're notified whenever you get a meeting-ready-lead, for you to close.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

<section id="testimonials" class="testimonials section light-background">

        <div class="container section-title" data-aos="fade-up">
        <h2 style="font-weight: 900;">Hyper-personalized cold email outreach that drives meetings with your dream clients</h2>
        <p>Turn cold email outreach into a lead converting sales machine. Our simple to use features combined with our done-for-you services will enable you to generate and close deals faster.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-5">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonial-item">


                <h2 style="font-weight: 900">Find Targeted Verified Leads On Your ICP</h2>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>We help you clearly define your target audience and break it into specific personas. Next, we brainstorm relevant messaging for each persona. While this is underway, our team begins setting up your email infrastructure based on your requirements.</span>
                <i class="bi bi-quote quote-icon-right"></i>



            </div>
          </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonial-item">
              <p>
                  <h2 style="font-weight: 900">High-Converting Emails & Follow-Ups, Optimized With A/B Testing</h2>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Once the messaging and audience are defined, we begin experimenting by launching 'micro' campaigns and analyzing the results qualitatively. Our goal is to identify which messaging resonates with each persona. Together, we craft compelling email copy and effective follow-ups to maximize conversions and engagement.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonial-item">

              <p>
                  <h2 style="font-weight: 900">Handle Replies & Share The Positive Leads</h2>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Positive replies are forwarded to you daily, helping you keep your sales pipeline active and thriving. You’ll also have access to full campaign stats for complete transparency and performance insights.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonial-item">

              <p>
                  <h2 style="font-weight: 900">Book Meeting On Your Calendar & Sync</h2>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Book meetings and sync seamlessly with calendar integration for efficient scheduling and coordination.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>

<section id="features-cards" class="features-cards section">
    <div class="container">
        <div class="row gy-4">
            <h1 style="font-weight: 900" class="text-center">Get the top 1% of email lead generation experts that can actually drive results</h1>
            <p class="text-center">Creating an effective cold email outreach strategy takes continuous optimization. Let our cold email experts help so you can close more deals.</p>

            <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-box green">
                    <i class="bi bi-sunrise"></i>
                    <h4>Attract hundreds of hot leads using cold email</h4>
                    <p>Once your campaign has started, you can then expect dozens or even hundreds of hot leads per month, all generated on auto-pilot.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-box orange">
                    <i class="bi bi-award"></i>
                    <h4>Learn how to be an expert at cold email outreach</h4>
                    <p>We're more than just a cold email lead generation tool. We'll teach you all our best practices when it comes to closing deals using email.</p>
                </div>
            </div><!-- End Feature Borx-->

            <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-box blue">
                    <i class="bi bi-patch-check"></i>
                    <h4>U.S. based & dedicated cold email experts</h4>
                    <p>We are committed to your success and will support you through weekly reporting, monthly strategy calls and ongoing campaign improvements.</p>
                </div>
            </div><!-- End Feature Borx-->

            <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="feature-box red">
                    <i class="bi bi-shield-check"></i>
                    <h4>AI-powered segmentation</h4>
                    <p>The power of a dedicated cold email expert at an affordable cost. Our job is create and implement a cold email outreach system that generates you more sales from hard to reach prospects.</p>
                </div>
            </div><!-- End Feature Borx-->

        </div>
    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}







