


{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Pricing
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block header %}
{% endblock %}
{% block content %}



<div class="container" style="margin-top:120px;">
    <div class="card-body mb-2" style="border-radius: 30px;background-color:#655E7A;">
<!--    <div class="card-body mb-2" style="border-radius: 30px;background-color:#fff;">-->
        <div class="mb-5">
            <div class="container section-title mt-5" data-aos="fade-up">
            <h2 style="color:#fff;padding-top:30px;">Pricing</h2>
            <p style="color:#fff;">Choose a service - get online today</p>
        </div>
    </div>
</div>

<div class="col-lg-12" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <button class="nav-link btn active"  id="web-tab" data-bs-toggle="tab" data-bs-target="#web-tab-pane" type="button" role="tab" aria-controls="web-tab-pane" aria-selected="true" style="color:#fff;background-color:#0a62c9;">Web Development</button>
                <button class="nav-link mr-1" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" style="color:#fff;background-color:#0a62c9;">Mobile Apps Development</button>
                <button class="nav-link mr-1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" style="color:#fff;background-color:#0a62c9;">Email Marketing</button>
                <button class="nav-link mr-1" id="cold-tab" data-bs-toggle="tab" data-bs-target="#cold-tab-pane" type="button" role="tab" aria-controls="cold-tab-pane" aria-selected="false" style="color:#fff;background-color:#0a62c9;">Cold email outreach</button>
                <button class="nav-link mr-1" id="it-tab" data-bs-toggle="tab" data-bs-target="#it-tab-pane" type="button" role="tab" aria-controls="it-tab-pane" aria-selected="false" style="color:#fff;background-color:#0a62c9;">IT Consultations</button>
                <button class="nav-link mr-1" id="customize-tab" data-bs-toggle="tab" data-bs-target="#customize-tab-pane" type="button" role="tab" aria-controls="customize-tab-pane" aria-selected="false" style="color:#fff;background-color:#0a62c9;">Customize Business Solution</button>
            </ul>
        </div>
    </div>
</div>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="web-tab-pane" role="tabpanel" aria-labelledby="web-tab" tabindex="0">
      <section id="web" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <section id="mobile" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <section id="pricing" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <div class="tab-pane fade" id="cold-tab-pane" role="tabpanel" aria-labelledby="cold-tab" tabindex="0">
      <section id="cold" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <div class="tab-pane fade" id="it-tab-pane" role="tabpanel" aria-labelledby="it-tab" tabindex="0">
      <section id="it" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <div class="tab-pane fade" id="customize-tab-pane" role="tabpanel" aria-labelledby="customize-tab" tabindex="0">
      <section id="customize" class="pricing section light-background">
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div id="Web" role="tabpanel" aria-labelledby="web-tab" class="row g-4 justify-content-center">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-card">
                    <h3>Basic Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">9.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium totam.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Duis aute irure dolor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Excepteur sint occaecat
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nemo enim ipsam voluptatem
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-card popular">
                    <div class="popular-badge">Most Popular</div>
                    <h3>Standard Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">19.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Consectetur adipiscing elit
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Sed do eiusmod tempor
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Ut labore et dolore magna
                        </li>
                    </ul>

                    <a href="#" class="btn btn-light">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-card">
                    <h3>Premium Plan</h3>
                    <div class="price">
                        <span class="currency">$</span>
                        <span class="amount">39.9</span>
                        <span class="period">/ month</span>
                    </div>
                    <p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae.</p>

                    <h4>Featured Included:</h4>
                    <ul class="features-list">
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Temporibus autem quibusdam
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Saepe eveniet ut et voluptates
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Nam libero tempore soluta
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Cumque nihil impedit quo
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i>
                            Maxime placeat facere possimus
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">
                        Buy Now
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
</div>


{% endblock %}
{% block script %}
{% endblock %}







