
{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Team
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<section id="hero" class="hero section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content" data-aos="fade-up" data-aos-delay="200">


              <h1 class="mb-4" style="font-weight: 900;">
                Innovation is a team sport. We play to win, together.
                  <br><span class="accent-text h4">Experience the Excellence!</span>
              </h1>

              <p class="mb-4 mb-md-5 text-justify" style="text-align: justify;">
                 Individual commitment to a group effort—that is what makes a team work, a company work, a society work, a civilization work
              </p>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
              <img src="{% static 'assets/img/team.jpg' %}" alt="Hero Image" class="img-fluid">

            </div>
          </div>
        </div>
      </div>

    </section>
<div class="container mt-4">
    <div class="post">
    <div class="row mb-3" style="background-color:#263059;">
        <div class="col-sm-3">
            <img class="img-fluid" src="{% static 'assets/img/team/Image.png' %}" alt="Photo" style="height:350px;width:100%;">
        </div>
        <!-- /.col -->
        <div class="col-sm-9">
            <div class="row">
                <h1 style="padding-top:40px;padding-left:15px;color:#fff;font-weight: 900;">Khandakar Abu Saife</h1> <br><br><br>
                <p style="padding-top:40px;color:#fff;text-align: justify;padding:15px;"> I’m Saif, a CSE graduate from Southeast University and the founder of Planway IT. After finishing my degree, I decided to channel my technical expertise into my own venture. At Planway IT, we specialize in Web Development, Mobile Application Development, Digital Marketing, IT Solution and helping clients navigate the digital landscape with precision and strategic planning. My goal is to bridge the gap between complex code and user-centric business solutions. I have started My own company 'Planway IT Solution Limited' at 2022, which aims to provide Software Engineers for businesses.</p>

                <hr style="color:#fff;">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


</div>
</div>
<div class="page-wrapper">
	   <div class="container" style="margin-top:100px;">
           <h3 style="font-weight: 900;">Others Team Member</h3>
            <hr>
		<div class="row">
            {% for t in team %}
            <div class="col-md-3 mt-2">
               <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="img-fluid img-circle" src="{{t.profile_picture.url}}" style="height:230px;width:80%;" alt="User profile picture">
                    </div>
                      <hr>
                    <p class=" h3 profile-username text-center">{{t.name}}</p>
                    <p class="text-muted text-center">{{t.designation}}</p>

                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
            {% endfor %}

		</div>
	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}



