{% extends 'templating/base.html' %}
{% load static %}
{% block title %}
Planway IT | Team
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="breadcumb-wrapper" style="margin-top:150px;" data-bg-src="assets/img/breadcumb/breadcumb-bg.png">
        <div class="container z-index-common">
            <div class="breadcumb-content"><h1 class="breadcumb-title">Our Teams</h1>
                <p class="breadcumb-text">Meet with our most experience team</p>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>Our Teams</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row flex-row-reverse gx-80">
                <div class="col-lg-6">
                    <div class="picture-box6">
                        <div class="img-1 mega-hover">
                            <img src="{% static 'assets/img/img/team/team-1.jpg' %}" alt="online-class"></div>
                        <div class="vs-circle"></div>
                    </div>
                </div>
                <div class="col-lg-6"><span class="sec-subtitle">OUR Team ARE PASSIONATE</span>
                    <h2 class="sec-title mb-2 mb-xl-4">Start your career with us</h2>
                    <p class="fs-md me-xxl-5 col-xl-11">Building, developing, training, retaining and engaging the HS JAPAN
                        ACADEMY team is a daily commitment. We work hard every day to make sure that our people are
                        supported and empowered to deliver exceptional results for our clients</p>
                    <p class="fs-md me-xxl-5 col-xl-11">Everyone says it, but in our case it’s true: our team is the secret
                        to our success. The HS JAPAN ACADEMY team is a tight-knit, talented group with a shared vision of
                        delivering consistently great results for our clients, as well as ensuring the agency is a fun,
                        inclusive, challenging place to work and develop a rewarding career.</p>
                    <div class="list-style1 vs-list mb-4">
                        <ul>
                            <li>Highly Experience</li>
                            <li>Highly Commited</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-bottom">
        <div class="container">
            <div class="title-area text-center">
                <div class="sec-icon">
                    <div class="vs-circle"></div>
                </div>
                <span class="sec-subtitle">Meet with our qualified Team</span>
                <h2 class="sec-title h1">Our Qualified Team</h2></div>
            <div class="container-fluid" style="margin-top:100px;">

                <div class="row">

                    <div class="col-sm-6 col-lg-6 col-xxl-4">
                        <div class="team-style2 has-border">
                            <div class="team-content"><h4 class="team-name h5"><a href="team-details.html">saif</a></h4>
                                <p class="team-degi">Founder & CEO</p>
                                <div class="team-img"><img src="{% static 'assets/img/avatar-1.webp' %}" alt="member" style="height:120px;"></div>
                                <span class="team-rate">
                                    <p class="team-experi">10+ years experience</p>
                                    <div class="team-review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}


