{% extends 'base.html' %}
{% load static %}
{% block title %}
    Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
   <section id="portfolio-details" class="portfolio-details">
      <div class="container">
          <div class="section-title text-center" data-aos="zoom-out">
            <p>Cloud Computing at Techverx</p>
            <span>Easily adaptable cloud computing services transforming on-premise data centers to more innovative cloud platforms to enhance business agility.</span>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">Consulting</h3>
              <span>Our cloud computing consultants will provide you with an overall view of what your business looks like and present you with an optimal solution along with the required technical assistance.</span>
                <br>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">Implementation</h3>
              <span>Experts to ensure that the solutions provided are implemented optimally.</span>
                <br><br><br><br>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">Integration</h3>
              <span>Enable communication between components within disrupted systems and serverless applications with Azure and AWS. Also reduce the impact of changes so it’s easier to update systems and release new features much faster.</span>
                <br>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">Backend Development</h3>
              <span>Experts to help you with any changes that may be required to streamline your backend development operations.</span>
                <br>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">Scaling</h3>
              <span>Our experts ensure steady and predictable performance with consistent monitoring through autoscaling.</span>
                <br>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% block script %}
{% endblock %}
