{% extends 'base.html' %}
{% load static %}
{% block title %}
    Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<section id="features" class="features">
    <div class="container">
        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                    <i class="ri-gps-line"></i>
                    <h4 class="d-none d-lg-block">E-Commerce</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                    <i class="ri-body-scan-line"></i>
                    <h4 class="d-none d-lg-block">Human Resource Management</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                    <i class="ri-sun-line"></i>
                    <h4 class="d-none d-lg-block">POS</h4>
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                    <i class="ri-store-line"></i>
                    <h4 class="d-none d-lg-block">Customized Web Application</h4>
                </a>
            </li>
        </ul>
    </div>
</section>
   <section id="portfolio-details" class="portfolio-details">
      <div class="container">
          <div class="section-title text-center" data-aos="zoom-out">
            <p>Custom Software Development</p>
            <span>Work With Developers To Improve And Maintain Your Software.</span>
        </div>
        <div class="row gy-4">
          <div class="col-lg-6">

            <div class="portfolio-info">
                <i class="ri-gps-line" style="width: 100px;"></i>
              <h3 class="mt-4">Web Development</h3>
              <span>Develop a custom website with our top quality developers using latest technologies with captivating User Interface and User Experience.</span>
                <br><br><br><br>
              <a href="{% url 'web_application_development' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="portfolio-info">
              <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
              <h3 class="mt-4">App Development</h3>
              <span>Build a user friendly app based on your requirements with our agile working pattern and scalable development, leaving room for technological advancements.</span>
                <br><br><br>
              <a href="{% url 'mobile_application_development' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
{% block script %}
{% endblock %}
