{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section  class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Data Science, Artificial Intelligence & Machine Learning</p>
            <span>Reshape Your Data With Experts Who Excel In AI and Machine Learning</span>
        </div>
    </div>
</section>
<section id="portfolio-details" class="portfolio-details" style="background-color: #e8ebeb;">
    <div class="container" >
        <div class="row gy-4">
            <div class="col-lg-4">

                <div class="port-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Big Data Processing</h3>
                    <span>Big data solutions driven by Artificial intelligence.</span>
                    <br><br><br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="port-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">AI Development</h3>
                    <span>Systematically develop and operationalize AI models using AI lifecycle management.</span>
                    <br><br><br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="port-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Machine Learning</h3>
                    <span>Applying diverse machine learning techniques to identify the moral that best fits the business requirement.</span>
                    <br><br><br>
                </div>
            </div>

        </div>
        <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="port-info">
                        <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                        <h3 class="mt-4">Data Preparation</h3>
                        <span>Deep cleaning of inconsistent database, missing values, duplicate values, misspelled attributes and then Modification of data to help understand the data structure better.</span>
                        <br><br><br><br>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="port-info">
                        <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                        <h3 class="mt-4">Migration and integration</h3>
                        <span>Our top Salesforce consultants collabaIntegrate with AI ready platforms to make better, more robust software linking systems.orate with you, evaluate and assess your existing business processes and technology systems to present you with a custom implementation strategy made according to your business needs.</span>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="port-info">
                        <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                        <h3 class="mt-4">Exploratory Data Analysis</h3>
                        <span>Defining and refining the selection of feature variables that will be used in model development to avoid the possibilities of developing an inaccurate model.</span>
                        <br><br><br><br>
                    </div>
                </div>

            </div>
    </div>
</section>

<section id="port-details" class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Our Process</p>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Understanding The Business Problem</h3>
                    <span>Our experts believe in Asking relevant questions to understand and define objectives to the problem that needs to be tackled.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Data Acquisitions And Preparation</h3>
                    <span>Gather and scrape data from multiple sources such as web servers, logs, databases, API’s and online repositories and then deep clean and transform the data.</span>

                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Design</h3>
                    <span>Create a functional design that is pleasing to the eye and meeting your business needs.</span>
                    <br><br><br><br>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Prototyping</h3>
                    <span>Develop prototypes to reduce risk and showcase end results .</span>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Implementation</h3>
                    <span>Connect all the frontend and backend codes to have a living product ready for use.</span>
                    <br>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Technology Stack</p>
           <span class="mt-3">We’re always on the edge of the technology trends, investing our time and resources in the latest technology used in our projects. Our track record proves that we have extensive usage of advanced and efficient integrations in our work.</span>
        </div>
    </div>
        <div class="row gy-4 mt-4" data-aos="zoom-out">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/nodejs-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/html5-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/pythan-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/angular-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/php-key.png' %}" alt="">
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row gy-4 mt-3" data-aos="zoom-out">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/mongo-db-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/oracle-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/reactjs-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/wordpress-key.png' %}" alt="">
            </div>

            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/cib-flutter.png' %}" alt=""
                     style="height:120px; margin-left: 20px;">
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
