{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>QA And Testing</p>
            <span>Deploying Modern Techniques With Quality Experts For Quick Bug Fixes.</span>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Automation Testing</h3>
                    <span>Development of custom automated test scripts for complete analysis of every step of the development cycle.</span>
                    <br><br><br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Manual Testing</h3>
                    <span>Testing software applications from the user’s perspective using UI< Usability, installation, User Acceptance, Error Handling and Security Testing to ensure customer satisfaction.</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">API Testing</h3>
                    <span>Meeting all your expectations through detailed API testing including functionality testing, reliability, performance and security.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Web & Mobile QA</h3>
                    <span>Providing quick bug fixes with the best QA practices for web and Mobile.</span>
                    <br><br><br><br>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Security Testing</h3>
                    <span>Identification of potential bugs, security gaps or any software flaws with our vigilant security testing tools to establish a development roadmap to bring your product up to speed.</span>
                    <br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Manual Testing</h3>
                    <span>Testing software applications from the user’s perspective using UI< Usability, installation, User Acceptance, Error Handling and Security Testing to ensure customer satisfaction.</span>
                    <br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Performance Testing</h3>
                    <span>Making your software as user-friendly as possible by performance testing of your app server until it has the highest level of stability and responsiveness.</span>
                    <br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">QA Consulting & Analysis</h3>
                    <span>Expert QA consultants to help you identify speed bumps and talent gaps along with walking you through the testing process.</span>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
