{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>UI/UX Design</p>
            <span>User Centric Designs for Better Experience.</span>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">User Journey Mapping</h3>
                    <span>Extensive user research to build up user personas for mapping out complete user journeys.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Rapid Prototyping</h3>
                    <span>Clickable prototypes to bring your ideas to life and give possible feedback driven wireframing for avoiding potential bugs.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">UX Design</h3>
                    <span>Providing top-notch technology to deliver compelling experiences to provide solutions to current and future challenges.</span>
                    <br><br>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">UI Design</h3>
                    <span>Bringing simplicity to highly complex designs and introducing a user friendly interface to increase engagement.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Development</h3>
                    <span>Designers and developers working together to produce and deliver the best to our clients.</span>
                    <br><br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Testing</h3>
                    <span>Extensive QA and sharing data analysis to make changes according to your business requirements.</span>
                    <br><br>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="port-details" class="portfolio-details" style="background-color: #181818;color:#ffffff;">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p style="color:#fff;">Here’s How We Do It</p>
            <span> Keeping it as simple and understandable as possible, we follow a standard process:</span>
        </div>
        <div class="row gy-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <h3 class="mt-4">Discovery</h3>
                <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Understanding your business and it’s pain points</span><br>
                    <span><i class="ri-check-double-line"
                             style="color: darkorange;"></i> Interviews & observations</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Functional requirements</span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="mt-4">Execution</h3>
                <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Interaction design</span><br>
                    <span><i class="ri-check-double-line"
                             style="color: darkorange;"></i> High-fidelity mockups</span><br>
                    <span><i class="ri-check-double-line"
                             style="color: darkorange;"></i> Interactive prototypes</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> UI Style guide/brand identity</span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="mt-4">QA Testing</h3>
                <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Concept sketching</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> System/Process flow</span><br>
                    <span><i class="ri-check-double-line"
                             style="color: darkorange;"></i> Information architecture</span><br>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Hire Us!</p>
        </div>
        <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">

                    <div class="col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                        <div class="section-title" data-aos="zoom-out">
                            <p style="color: blue">01</p>
                            <p class="mt-3">SELECT TEAM</p>
                            <span>
                            Build a personalized team from our pool of candidates best suited for your needs.
                        </span>
                        </div>

                    </div>
                    <div class="col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                        <div class="section-title" data-aos="zoom-out">
                            <p style="color: blue">03</p>
                            <p class="mt-3">Start Free Trial</p>
                            <span>
                            Test our employees for hiring them by starting a free trial .
                        </span>
                        </div>

                    </div>
                    <div class="col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                        <div class="section-title" data-aos="zoom-out">
                            <p style="color: blue">03</p>
                            <p class="mt-3">Get Started!</p>
                            <span>
                            Once you’re satisfied, proceed with your project.
                        </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
