{% extends 'base.html' %}
{% load static %}
{% block title %}
Planway IT | Home
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Web App Development</p>
            <span>Cross Functional Web App Developers to Enrich your Digital Experience.</span>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Full Stack Development</h3>
                    <span>Dedicated team of developers using latest technologies from simple frontend prototyping to high performing backend.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Backend Code</h3>
                    <span> Fluently using code in HTML, CSS and JavaScript for cloud based backend solutions for mobile, web and desktop applications.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Frontend Code</h3>
                    <span> Providing users with exceptional User Experience with the help of our UI/UX <br>experts.</span>
                    <br><br>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">QA Testing</h3>
                    <span>Performing thorough testing and complete QA analysis to meet your quality standards.</span>
                    <br><br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Rescue Missions</h3>
                    <span>Trained development employees to provide additional support in case you have a project that requires extensive and fast recovery.</span>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="portfolio-info">
                    <i class="ri-bar-chart-box-line" style="height: 50px;"></i>
                    <h3 class="mt-4">Support and Maintenance</h3>
                    <span> Defined SLAs to minimize downtime, manage feature enhancements and maintain your app.</span>
                    <br><br>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="port-details" class="portfolio-details" style="background-color: #181818;color:#ffffff;">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p style="color:#fff;">Here’s How We Do It</p>
            <span> Keeping it as simple and understandable as possible, we follow a standard process:</span>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3">
                <h3 class="mt-4">Discovery</h3>
                <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Discovery Workshop</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Goal Setting</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Prototyping</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Project Plan</span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="mt-4">Execution</h3>
                 <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Architecture and Design</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Backend Development</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> APIs & Integrations</span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="mt-4">QA Testing</h3>
                 <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Go Live</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Project Launch</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> User Feedback</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Monitoring</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Operational Testing</span><br>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="mt-4">Support</h3>
                 <div class="point">
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> SLA Support</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Operational support</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> On-going Support</span><br>
                    <span><i class="ri-check-double-line" style="color: darkorange;"></i> Feedback Integration</span><br>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="portfolio-details">
    <div class="container">
        <div class="section-title text-center" data-aos="zoom-out">
            <p>Tech Stacks</p>
            <span class="mt-3">We’re always on the edge of the technology trends, investing our time and resources in the latest technology used in our projects. Our track record proves that we have extensive usage of advanced and efficient integrations in our work.</span>
        </div>
        <div class="row gy-4" data-aos="zoom-out">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/nodejs-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/html5-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/pythan-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/angular-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/php-key.png' %}" alt="">
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row gy-4 mt-3" data-aos="zoom-out">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/mongo-db-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/oracle-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/reactjs-key.png' %}" alt="">
            </div>
            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/wordpress-key.png' %}" alt="">
            </div>

            <div class="col-lg-2">
                <img src="{% static 'assets/img/tech_stacks/cib-flutter.png' %}" alt=""
                     style="height:120px; margin-left: 20px;">
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
{% endblock %}
